html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
  max-width: 100%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0 8% 0 8%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 5rem;
  color: white;
  font-weight: bold;
}
@media (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
}
h2 {
  font-size: 2rem;
  padding-top: 10%;
  color: darkgrey;
}
h4 {
  font-size: 2.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.3rem;
  text-align: center;
  padding: 2% 10%;
}
@media (max-width: 500px) {
  p {
    padding: 0;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  /* margin:0 40% 0 40%;*/
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
nav .links {
  display: flex;
  flex-direction: space-around;
  justify-content: center;
  align-items: center;
  width: 60%;
}
nav .links a {
  text-decoration: none;
  color: darkgrey;
  font-size: 3rem;
}
nav .links .home {
  color: black;
}
header {
  height: 20vh;
}
@media (max-width: 500px) {
  header {
    height: 15vh;
  }
}
.homeImg {
  background-image: url(/Users/michelle/Desktop/lambda-assignments/50-Influential-Artists/assets/home.png);
  height: 90vh;
  width: 100%;
  opacity: 8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .homeImg {
    height: 60vh;
    width: 100%;
  }
}
.homeImg .text {
  text-align: center;
}
.homeImg .text .btn .contButton {
  cursor: pointer;
  width: 40%;
  color: darkgrey;
  background: white;
  height: 40px;
  font-size: 1.7rem;
  border-radius: 3px;
}
.homeImg .text .btn .contButton:hover {
  background: grey;
  color: darkgrey;
}
.artists-container {
  display: flex;
  justify-content: flex-start;
  padding-top: 5%;
}
@media (max-width: 500px) {
  .artists-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20%;
  }
}
.artists-container .artist {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  width: 50%;
}
@media (max-width: 500px) {
  .artists-container .artist {
    width: 100%;
  }
}
.artists-container .artist a {
  text-decoration: none;
}
.artists-container .artist img {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
@media (max-width: 500px) {
  .artists-container .artist img {
    padding-top: 10%;
    width: 70%;
  }
}
.artists-container .artist img:hover {
  opacity: 0.8;
}
