nav {
   /* margin:0 40% 0 40%;*/
    padding-top: 5%;

    .links {
        .flex(center);
       

        a {
            text-decoration: none;
            color: @font-color;
            font-size: 3rem;

     
        } //closes a
    }// closes links
}// closes nav